
.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
       
   
}

    
.login-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    padding: 2rem;
    width: 350px;
    height: 370px;
    margin: 0 auto;
    border: 1px solid #ccc9;
    flex-grow: 1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
color: var(--secondary-color);
    background-color: var(--primary-color);
    

    .login-title {
        margin: 1rem;
    }
}
.input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    
    width: 250px;
    
   
    
    color: var(--secondary-color);

   
   
    
}

input{
    width: 100%;
    padding: 8px 5px;
    background-color: white;
    border-radius: 3px;
    resize: none;
    outline: none;
    border: none;
    border: 1px solid white;
    transition: outline 0.5s ease;
    margin-top: 1rem;
}
input:focus {
    outline: 2px solid var(--third-color);
    box-shadow: 0 0 10px var(--third-color);

}


.btn-form{
    background-color: var(--text-light);
    width: 100%;
    border-radius: 5px;
    border: 0;
    color: var(--secondary-color);
    margin-top: 1rem;
    box-shadow: 0 0 10px var(--text-light);
    padding: 8px 5px;
    margin: 30px 0 20px;
    height: 33px;
}


.btn-form:hover {
    background-color: white;

}


.main-container-login{
    display: flex;
    
    align-items: center;
    justify-content: center;
    height: 800px;
    
    
}