
.card-container {
    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    column-gap: 1rem;
    row-gap: 2rem;
    background-color: green;
  
  
  
  
  }
  
  @media (width < 768px) {
      .card-container {
          width: 100%;
          border-left: 0;
      }
  }
  

