:root {
  --primary-color: #f0e8e0;
  --primary-transp: #f0e8e0c3;
  --secondary-color: #382F28;
  --third-color: #cebeaf;
  --text-light: #e8d9ca;
  --light-transparency: #e8d9ca98;
  --font: 'Open Sans', sans-serif;
  --font-secondary: 'victor';
}

* {
  margin: 0;
  padding: 0;

}




.main-footer {

  width: 100%;
  display: flex;
  padding-top: 2rem;
  background-color: var(--secondary-color);
  position: relative;
  flex-wrap: wrap;

}
.footer-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.footer-logo {
  width: 100px;
  height: 100px;
}

li {
  list-style-type: none;
  color: var(--text-light);
}
.social-media {
  display: flex;

}

.fa-brands {
  margin: 0 1rem;
  color: var(--text-light);
}

.link-footer {
  color: var(--text-light);
  text-decoration: none;
 
}

.terms {
  text-align: center;


  .footer-list {
      display: flex;
      justify-content: center;

  }

}


.footer-section-last {
  width: 100%;
  order: 6;
  padding: 25px;
  box-sizing: border-box;
  position: relative;
}


.footer-section-last::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 12px;


 border-top: 3px solid var(--text-light);

  animation: crece-hacia-derecha 5s linear infinite;

  animation-iteration-count: infinite;
  transform-origin: left;
  z-index: 1;
}

@keyframes crece-hacia-derecha {
  0% {
      transform: scalexY(0);

      width: 0%;
  }

  100% {
      transform: scalexY(1);
      width: 100%;
  }
}

@media (width < 768px) {
  .footer-section-last::before {
      left: 0;
      transform-origin: left;

  }
}

@keyframes crece-hacia-derecha {
  0% {
      transform: scaleX(0);
      width: 0%;
  }

  100% {
      transform: scaleX(1);
      width: 100%;
  }

}





@media (width < 768px) {
  .main-footer {

      display: flex;
      flex-direction: column;
      gap: 1rem;
      text-align: center;
      align-items: center;
      padding-top: 1rem;
      width: 100%;







  }

}