* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root {


    font-family: 'Open Sans';
  
  
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.card-container{
  margin: 3rem 0;
}

:root {
    --primary-color: #f0e8e0;
    --primary-transp: #f0e8e0c3;
    --secondary-color: #382F28;
    --third-color: #cebeaf;
    --text-light: #e8d9ca;
    --light-transparency: #e8d9ca98;
    --font: 'Open Sans', sans-serif;
    --font-secondary: 'victor';
}
.main {
  flex: 1;
}

.swal2-confirm {background-color: red;

}

.main-container{
  width: 100%;
  max-width: 1200px;
}

/*//////////////////////////////ADMIN//////////////////////*/



.admin-dashboard{
  display: flex;
  flex-direction: column;
  
}
.admin-dashboard > * {
  padding: 8rem 2rem;
  margin-top: 5rem;


}
.admin-form-title{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}
.form-container{width: auto;
max-width: 400px;
display: flex;
flex-direction: column;
align-items: center;
position: relative;
height: auto;

}
.top-form{
  background-color: var(--primary-color);
  text-align: left;
  display: flex;
  width: 100%;
}

.btn-danger, .btn-delete{ position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--text-light);
  height: 33px;
  width: 30px;
  margin-top: 0;
 
}


.btn-table {
  background-color: var(--text-light);
  width: auto;
  border-radius: 5px;
  border: 0;
  color: var(--secondary-color);
  margin-top: 1rem;
  box-shadow: 0 0 10px var(--text-light);
  padding:10px;
  margin: 30px 0 20px;
  height: 33px;
  
}


.btn-table:hover {
  background-color: white;

}
.actions{display: flex;
justify-content: space-evenly;}

.product-description-row{
  display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 4;
   overflow-y: hidden;
   text-overflow: ellipsis;
   text-align: justify;
   padding-left: 1rem;
}


form {
  width: 300px;
  background-color: #f0e8e0;
  position: relative;
  height: auto;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
 




}
.form-label {
  display: block;
  margin: 5px;
  margin: 15px 0 5px;

}
.admin-input{
  outline: none;
    border: 1px solid white;
    transition: outline 0.5s ease;
    padding: 8px 5px;
    background-color: white;
    color: var(--secondary-color);
    width: 250px;
    border-radius: 3px;
    box-sizing: border-box;
    resize: none;
}
.form-sticky{
  position: sticky;
  top: 50px;
}

.table-container{
flex: 1 0 0;
}
.table-img{width: 20px;
height: 20px;}

@media screen and (width >768px){
  .admin-dashboard{
    flex-direction: row;
  }
}
.btn-success{  border-radius: 5px;
  box-shadow: 0 0 10px var(--text-light);}

.table-body{background-color: var(--primary-color);
  text-align: center;
}
td{
  padding: 0 1rem;
  width: 200px;
  background-color: var(--primary-color);
  
  
  
}
th{background-color: var(--third-color);
padding: 1rem;}
.image-table img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  padding: 1rem;
}
